body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.conteiner {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  gap: 20px;
}

label {
  font-weight: bold;
}

/* Estilos del select */
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos del header */
header {
  grid-area: header;
  text-align: center;
}

/* Estilos del main */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* Estilos del contenedor de guitarras */
#contenedorGuitarras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos de las guitarras */
.guitarra {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos del carrito */
#carritoGuitarras {
  grid-area: carrito;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Evita que las imágenes se superpongan */
}

h2 {
  margin-top: 0;
}

/* Estilos de los elementos del carrito */
.carritoGuitarra {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.carritoGuitarra img {
  max-width: 60px;
  margin-right: 10px;
}

.carritoGuitarra p {
  margin: 0;
}

/* Estilos del footer */
footer {
  grid-area: footer;
  text-align: center;
}

/* Estilos del enlace */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}